extends layout.jade

block content
  header(class='post-header')
    h2(class='post-title') Run submission
  div(class='post-description')
    p.
      Teams can submit up to one run per hour. 
      
    p.
      Since we do not make public which part of the test data
      is used for this leaderboard, we expect your runs to contain results for all test cases.
      During the computation of the public leaderboard missing test cases are ignored (they are taken 
      into account during the final ranking of runs).

    form(action="runSubmission", name="runSubmission", method="post", enctype="multipart/form-data", class='pure-form pure-form-stacked')
      fieldset
        div(class='pure-content-group')
          label(for='token') Token
          input(type="text", id="token", name="token")
        div(class='pure-content-group')
          label(for='token') Run file
          input(type="file", id="runFile", name="runFile")
        div(class='pure-content-group')
          input(type='submit', value='Upload \& Evaluate', class="pure-button pure-button-primary")
    