extends layout.pug

block content
	header(class='post-header')
		h2(class='post-title') Update registration
	div(class='post-description')
		p.
			To update your registration, enter your new name and new email address, as well as the token you were given. After clicking the 'update' button your account will be updated.

		form(action='update', name='upregister', method='post', class='pure-form pure-form-stacked')
			fieldset
				div(class='pure-control-group')
					label(for='name') Name
					input(type='text', id='name', name='name', required, pattern='^[A-Za-z0-9-_]{1,24}$', placeholder='Enter your new name', size='45')
				div(class='pure-control-group')
					label(for='email') Email
					input(type='email', id='email', name='email', required, placeholder='Enter your new email address', size='45')
				div(class='pure-control-group')
					label(for='token') Token
					input(type='token', id='token', name='token', required, pattern='^[A-Za-z0-9]{24}$', placeholder='Enter your token', size='30')
				div(class='pure-control-group')
					| &nbsp;
				div(class='pure-control-group')
					input(type='submit', value='Update', class='pure-button pure-button-primary')
					